.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper > h3 {
    color: #f46969;
    margin: 35px 0 10px 0;
}

.genresWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
}
