.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: cadetblue;
}

.Header a {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.Header a[class='active']{
    color: crimson;
}