.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: darkslateblue;
}


.links {
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links a{
    text-decoration: none;
    color: #fdfd04;
}

.links a[class='active']{
    color: white;
}
