.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.wrapper > h3 {
    margin: 40px;
    font-size: 20px;
    color: crimson;
}